@font-face {
    font-family: 'DarkNet';
    src: url('DarkNet-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DarkNet';
    src: url('DarkNet.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Infynyte Body';
    src: url('Infynyte-Body.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'volunmo';
    src: url('volunmo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

