*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
  position: absolute;
  width: 100vw;
}

.overflow-hidden {
  overflow: hidden;
}

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
#loader #progress-bar {
  height: 4rem;
  border-radius: 0px;
  transform: skew(-40deg);
  max-width: 450px;
  width: 100%;
}
#loader #progress-bar::-webkit-progress-bar {
  background-color: #0b3f23;
}
#loader #progress-bar::-webkit-progress-value {
  background-color: #25bc6a;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  margin: 1rem 0 0 1rem;
}
header button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
header button svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header button #off {
  opacity: 40%;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#container canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

section.scrolling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scroll-container .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
#scroll-container .filler {
  height: 100vh;
}
#scroll-container .card-container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 5%;
  justify-content: flex-end;
  position: relative;
}
#scroll-container .card-container .info {
  align-self: flex-end;
  padding: 4rem;
  outline-offset: -1rem;
  max-width: 500px;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  z-index: 2;
}
#scroll-container .card-container .info .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #0a3f23;
  z-index: -1;
  left: 0;
  clip-path: polygon(99% 75%, 100% 0%, 0% 0%, 0% 100%, 75% 100%);
}
#scroll-container .card-container .info .top-right,
#scroll-container .card-container .info .bottom-left {
  position: absolute;
  width: 8rem;
  height: 4rem;
  z-index: 1;
}
#scroll-container .card-container .info .top-right::before,
#scroll-container .card-container .info .bottom-left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#scroll-container .card-container .info .top-right::after,
#scroll-container .card-container .info .bottom-left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#scroll-container .card-container .info .top-right {
  top: 1rem;
  right: 1rem;
  border-top: 0.7rem solid #25bc6a;
  border-right: 0.7rem solid #25bc6a;
}
#scroll-container .card-container .info .top-right::before {
  border-top: 0.7rem solid #25bc6a;
  border-left: 0.7rem solid transparent;
  left: -0.7rem;
  top: -0.7rem;
}
#scroll-container .card-container .info .top-right::after {
  border-top: 0.7rem solid #25bc6a;
  border-left: 0.7rem solid transparent;
  right: -0.7rem;
  bottom: -0.7rem;
}
#scroll-container .card-container .info .bottom-left {
  bottom: 1rem;
  left: 1rem;
  border-bottom: 0.7rem solid #25bc6a;
  border-left: 0.7rem solid #25bc6a;
}
#scroll-container .card-container .info .bottom-left::before {
  border-bottom: 0.7rem solid #25bc6a;
  border-right: 0.7rem solid transparent;
  left: -0.7rem;
  top: -0.7rem;
}
#scroll-container .card-container .info .bottom-left::after {
  border-bottom: 0.7rem solid #25bc6a;
  border-right: 0.7rem solid transparent;
  right: -0.7rem;
  bottom: -0.7rem;
}
#scroll-container .filler {
  height: 100vh;
}

@media (min-width: 1600px) {
  #scroll-container .card-container .info {
    height: 400px;
  }
}
h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-family: "Darknet", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: #25bc6a;
}

p {
  color: #25bc6a;
}

p,
a {
  font-family: "volunmo", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}

span {
  font-family: "volunmo", sans-serif;
  font-size: 3rem;
}

#scroll-container .intro h1 {
  font-size: 2rem;
  margin-top: 1rem;
}
#scroll-container .intro p {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #ffffff;
}
#scroll-container .info h2 {
  overflow: hidden;
  white-space: nowrap;
}
#scroll-container .info .typing-animation {
  animation: typing 3s steps(40, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  p {
    font-size: 1.6rem;
  }
}
@media (min-width: 1600px) {
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */